body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #1e3c72, #ff8400);
  color: white;
}

h1 {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 60%;
  margin: auto;
}

.sound {
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

/* HOVER EFFECT */
.sound:hover {
  background: black;
  color: white;
}