/* ===== DIV A ===== */
div:nth-of-type(1) {
  border: 4px solid purple !important;
  box-shadow: 10px 10px 15px red !important;
}

/* ===== DIV B ===== */
div:nth-of-type(2) {
  border: 4px solid limegreen !important;
  box-shadow: 0px -10px 10px black !important;
}

/* ===== DIV C ===== */
div:nth-of-type(3) {
  border: 5px solid orange !important;
  border-radius: 25px !important;
  box-shadow:
    0 0 0 8px blue,
    0 0 0 16px red,
    0 0 0 24px green !important;
}

/* ===== DIV D ===== */
div:nth-of-type(4) {
  border: 4px solid firebrick !important;
  position: relative;
}